
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    text-align: center; 
}

header {
    background-color:rgba(151, 203, 246, 0.17);
    padding: 20px;
}


nav {
    background-color: rgb(225, 230, 231);
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


main {
    width: 450px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
}


main img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}


form input, form textarea {
    display: block;
    width: 80%;
    padding: 8px;
    margin: 10px auto;
}


button {
    padding: 10px 20px;
    background-color: rgb(105, 154, 166);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(116, 177, 187);
}

footer {
    background-color: rgb(150, 159, 168);
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
}